In [1]:
import socket
import os
import sys
import pwd
from datetime import datetime

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from gns_utils import log_to_dataframe

meta, param, result = log_to_dataframe("experiment_log.csv")

/Users/egecimsir/Desktop/GenAI Practical/Critical-Multitask-Batch-Sizes-in-Diffusion-Models/GNS/gns_utils.py:139: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["runtime"] = pd.to_datetime(df["runtime"])

In [3]:
meta

,date,user,host,ckpt_dir,vis_dir,save_fig,accumulate,epoch,verbose,no_seed,no_warnings,runtime
0,2025-01-23 16:52:14,cimsir,basalt.cip.ifi.lmu.de,./checkpoints,./visuals,NaN,True,True,True,False,True,00:02:46.377392
1,2025-01-25 20:03:06,cimsir,basalt.cip.ifi.lmu.de,./checkpoints,./visuals,NaN,True,True,True,False,False,00:15:21.813211

In [4]:
param

        model  diff_steps  true_portion  t_min  t_max
0  0750000.pt        1000           0.1    NaN    NaN
1  0750000.pt        1000           0.1    NaN    NaN

In [5]:
result

      gns_est          runtime  t_min  t_max
0    9.597502  00:02:46.377392    NaN    NaN
1  127.265038  00:15:21.813211    NaN    NaN